.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.message div {
  font-size: 1.2em;
  color: gray;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}

.title span {
  margin-left: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statsTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  align-items: flex-start;
}

.statsOffice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.office {
  font-weight: bold;
  color: #538ead;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}

.nodata {
  color: gray;
  margin-left: 10px;
}
